---
layout: default
---

<div class="home">

  <h1 class="post-title">{{ page.title | escape }}</h1>
  <p class="post-meta">
    {% if page.author %}
      <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
    {% endif %}
  </p>
  
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <h3>
          {{ post.title | escape }}
        </h3>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <div class="post-content" itemprop="articleBody">
          {{ post.content }}
        </div>
      </li>
    {% endfor %}
  </ul>

</div>
